In [1]:
# For POstGRes and SQLAlchemy
!pip install psycopg2 sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\louie\new folder\lib\site-packages (2.8.6)
Requirement already satisfied: sqlalchemy in c:\users\louie\new folder\lib\site-packages (1.3.20)

In [2]:
# Dependencies and Setup
# SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
#  Create an Engine and Pass in Postgres Connection postgress:Likeag6!
# Setup to Connect to Database
engine = create_engine('postgres://postgres:Likeag6!@localhost:5432/employee_db')
conn = engine.connect()

In [11]:
# Query All Records in the Salaries Table
salaries_data = pd.read_sql("SELECT * FROM salaries", conn)
salaries_data.head()

Empty DataFrame
Columns: [emp_no, salary, from_date, to_date]
Index: []